# auth_secret: openssl rand -base64 32
# encryption_key: openssl rand -base64 32
# postgres_password: openssl rand -base64 24

netbird_stack_secret_auth_secret: ""
netbird_stack_secret_encryption_key: ""
netbird_stack_secret_postgres_password: ""
netbird_stack_secret_bootstrap_admin_email: ""
netbird_stack_secret_bootstrap_admin_password: ""
netbird_stack_secret_bootstrap_admin_name: ""
