NB_BOOTSTRAP_ADMIN_EMAIL={{ netbird_stack_secret_bootstrap_admin_email }}
NB_BOOTSTRAP_ADMIN_PASSWORD={{ netbird_stack_secret_bootstrap_admin_password }}
NB_BOOTSTRAP_ADMIN_NAME={{ netbird_stack_secret_bootstrap_admin_name }}
