NETBIRD_MGMT_API_ENDPOINT=https://{{ netbird_stack_domain }}
NETBIRD_MGMT_GRPC_API_ENDPOINT=https://{{ netbird_stack_domain }}
AUTH_AUDIENCE={{ netbird_stack_dashboard_auth_audience }}
AUTH_CLIENT_ID={{ netbird_stack_dashboard_auth_client_id }}
AUTH_CLIENT_SECRET=
AUTH_AUTHORITY=https://{{ netbird_stack_domain }}/oauth2
USE_AUTH0=false
AUTH_SUPPORTED_SCOPES={{ netbird_stack_dashboard_auth_supported_scopes }}
AUTH_REDIRECT_URI=/nb-auth
AUTH_SILENT_REDIRECT_URI=/nb-silent-auth
LETSENCRYPT_DOMAIN=none
