[defaults]
inventory = inventories/prod/hosts.yml
roles_path = ./roles
roles_path = ./roles/bootstrap:./roles/common:./roles/apps
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
bin_ansible_callbacks = True
result_format = yaml

[hashi_vault_collection]
## TODO
